@media (max-width: 1200px) {
  .menu {
    padding-top: 25px;
  }

  .logo {
    z-index: 6;
  }

  .menu__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    border-radius: 3px;
    width: 44px;
    height: 44px;
    transition: outline 0.5s, opacity 0.5s, background-color 0.3s;
  }

  .menu__btn:focus {
    outline: 2px solid rgba(255, 255, 255, 0.7);
  }

  .menu__btn:active {
    outline: 2px solid rgba(14, 173, 59, 0.1);
  }

  .menu__btn-line {
    display: block;
    width: 30px;
    height: 2px;
    background-color: #ffffff;
    position: relative;
    transition: width 0.5s;
  }

  .menu__btn-line::before,
  .menu__btn-line::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #ffffff;
    left: 0;
    transition: transform 0.7s, left 0.7s;
  }

  .menu__btn-line::before {
    top: -10px;
  }

  .menu__btn-line::after {
    bottom: -10px;
  }

  .menu__btn.active .menu__btn-line {
    width: 0;
  }

  .menu__btn.active .menu__btn-line::before {
    transform: rotate(-45deg);
    top: 0;
    left: -13px;
  }

  .menu__btn.active .menu__btn-line::after {
    transform: rotate(45deg);
    bottom: 0;
    left: -13px;
  }

  .menu__list {
    text-align: center;
    padding-top: 81px;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #7792e0;
    text-align: center;
    transform: translateY(-500%);
    z-index: 1;
    height: 100vh;
    transition: transform 0.5s;
  }

  .menu__list.menu__list--active {
    transform: translateY(0);
  }

  .menu__item:not(:last-child) {
    margin-right: 0;
    padding-top: 18px;
  }

  .menu__link {
    display: block;
    padding: 10px 0;
  }

  .menu__link:active {
    opacity: 1;
    background-color: rgba(35, 82, 222, 0.7);
  }

  .skills__inner {
    display: block;
    padding: 0 23px;
  }

  .skills__img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  .skills__box {
    margin: 0 auto;
  }

  .skills__bar {
    width: 100%;
  }

  .skills__item {
    display: block;
    text-align: center;
  }

  .skills__item:not(:last-child) {
    margin-bottom: 24px;
  }

  .skills__text {
    margin-bottom: 53px;
    text-align: center;
  }

  .header__content {
    height: calc(100vh - 78px);
  }

  .services__items {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media (max-width: 992px) {
  .section {
    padding: 50px 0;
  }

  .header__title {
    font-size: 36px;
    margin-top: -50px;
  }

  .header__subject {
    font-size: 60px;
    line-height: 55px;
  }

  .header__link {
    bottom: 10px;
  }

  .menu__list {
    padding: 65px 0;
  }

  .menu__link {
    padding: 8px 0;
  }
}

@media (max-width: 768px) {
  .menu__list {
    flex-wrap: wrap;
  }

  .header__title {
    font-size: 38px;
    max-width: 100%;
  }

  .header__subject {
    font-size: 60px;
  }

  .header__link {
    bottom: 15px;
  }

  .section {
    text-align: center;
    padding: 50px 0;
  }

  .about__text {
    text-align: left;
    padding-bottom: 50px;
  }

  .title {
    font-size: 28px;
    margin-bottom: 30px;
  }

  .title::after {
    bottom: 11px;
  }

  .skills__inner {
    padding-bottom: 50px;
  }

  .services__title {
    text-align: left;
  }

  .services__text {
    text-align: left;
  }
}

@media (max-width: 576px) {
  .logo {
    max-width: 110px;
  }

  .header__content {
    height: calc(100vh - 69px);
  }

  .header__title {
    font-size: 28px;
    line-height: 36px;
    max-width: 100%;
  }

  .header__subject {
    font-size: 40px;
  }

  .header__link {
    font-size: 14px;
  }

  .about__text {
    font-size: 16px;
    line-height: 25px;
  }

  .services__items {
    gap: 30px;
  }

  .services__item {
    max-width: 100%;
  }

  .services__item::before {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
  }

  .services__title {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 15px;
  }
}

@media (max-width: 992px) and (orientation: landscape) {
  .logo {
    max-width: 110px;
  }

  .menu {
    padding-top: 10px;
  }

  .header__content {
    height: calc(100vh - 54px);
  }

  .header__title {
    font-size: 28px;
    line-height: 36px;
    max-width: 100%;
  }

  .header__subject {
    font-size: 40px;
  }

  .header__link {
    bottom: 5px;
  }

  .menu__list {
    padding: 65px 0;
  }

  .menu__link {
    padding: 8px 0;
  }
}
